body{
 font: 15px/1.5 Arial, Helvetica,sans-serif;
 padding:0;
 margin:0;
 background-color:#f4f4f4
;
}
/* Global */
.container{
 width:80%;
 margin:auto;
 overflow:hidden;
}



/* Showcase head-img */
#showcase{
 background-image: url("../images/bg.jpg");
 background-position:center right;
 min-height: 500px;
 margin-bottom:30px;
 
}#showcase h1{
 margin-top:200px;
 font-size:55px;
 margin-bottom:10px;
}#showcase p{
 font-size:20px;
}/*main area*/
.container  {
 margin: 60px 0;
}.find-more {
 margin-top: -22px;
}.line-top::before {
 content: "";
 border-top: 4px solid #333;
 width: 30px;
 position: absolute;
 top: -15px;
}
.thalescode{
padding-top: 60px;
 border-top: 1px solid #979797
;
 margin-top: 60px;
}#img{
  width: 250px;
  height: 250px;
}
.text{
 text-align: center;
}

.button{
  background-color: #000;

}
/*img*/
.head{
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
}
.head-1{

  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  color: #000000;
}
.paragraph{
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: justify;
  color: #8C93AA;
}
.paragraph-1{
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: justify;
  color: #8C93AA;
}
.head-2{
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  color: #000000;
}

.head-3{
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
}
.paragraph-2{
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: justify;
  color: #8C93AA;
}
.paragraph-3{
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: justify;
  color: #8C93AA;


}
.
/*.info{
  padding: 60px;
}
 width: 300px;
}
.button{
 width: 300px;
 background: #272525
;
 color: #fff;
}*//*footer*/
footer{
 padding:20px;
 margin-top:20px;
 color:#ffffff
;
 background-color:#e8491d
;
 text-align: center;
}
