body{
 font: 15px/1.5 Arial, Helvetica,sans-serif;
 padding:0;
 margin:0;
 background-color:#f4f4f;
}
/* Global */
.container{
 width:80%;
 margin:auto;
 overflow:hidden;
}
header{
  width: 90%;
  margin: 0 auto;
}
}

header #branding{
  float:left;
}
ul {
  list-style: none;
}
/*main area*/
.container  {
 margin: 60px 0;
}.find-more {
 margin-top: -22px;

}
.line-top::before {
 content: "";
 border-top: 4px solid #333;
 width: 30px;
 position: absolute;
 top: -15px;
}
.thalescode{
padding-top: 60px;
 border-top: 1px solid #979797
;
 margin-top: 60px;
}#img{
  width: 250px;
  height: 250px;
}
.text{
  width: 300px;
}

.button{
  background-color: #000;

}

.find-more {
  margin-top: -50px;
}
#showcase{
 background-image: url("../images/bg.jpg");
 display: table;
 padding-bottom: 60px;
 
}

nav ul li{
  padding: 0 10px;

}
nav ul li a{
  color: black;
}
.highlight{
  color: blue;
}
/*img*/
.head{
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
}
.head-1{

  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  color: #000000;
}
.paragraph{
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: justify;
  color: #8C93AA;
}
.paragraph-1{
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: justify;
  color: #8C93AA;
}
.head-2{
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  color: #000000;
}

.head-3{
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
}
.paragraph-2{
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: justify;
  color: #8C93AA;
}
.paragraph-3{
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: justify;
  color: #8C93AA;


}


#black-button{
font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 14px;
padding: 10px 40px;
text-transform: uppercase;
background-color: #000;
color: #FFFFFF;


}
#black-button1{
font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 14px;
padding: 10px 40px;
text-transform: uppercase;
background-color: #000;
color: #FFFFFF;



}

.send{
  width: 300px;
}
.choose-thales{
text-align: center;
}
form input,form textarea,form button{
  width: 100%;
  padding: 7px;
}

.register-button6{
   width: 200px;

}
.top-block{
  width: 80%;
  margin: 0 auto;
}

.top-block-1{
  width: 60%;
  float: left;
}
.top-img{
  width: 40%;
  float: left;
}

.top-photo{
  border-radius: 50%;
  width: 90%;

}
.top-para-1{
  background-color: white;
  width: 70%;
  padding: 50px;
}
.line{
  height: 5px;
  width: 30px;
  background-color: black;
  display: table;
} 
.subsribe {
  text-align: right;
}
.findR-more{
  width: 150px;
  padding: 7px;
  border: 1px solid #ccc;
  color: #333;
  border-radius: 40px;
  text-align: center;
  }
.number{
      color: dodgerblue;
    font-size: 30px;
}
.line1{
  display: table;
  width: 35px;
  height: 2px;
  background-color: darkgray;
}
.content .icons{
  font-size: 13px;
}
.content .icons a{
  color: #ccc;
}
.image-over-text{
  position: absolute;
    left: 39%;
    top: 30%;
    color: white;
    text-align: center;
}
.white-line{
    width: 40px;
    height: 10px;
    background-color: white;
    margin: 0 auto;
}
.title .icons a{
  color: #ccc;
}
footer ul{
  text-align: left;
}

footer{
 text-align: right;
}